
div.container {
	margin: 0 200;
	
}
.visuallyhidden {
	display: none;
	
}
.top-header {
	background-color:#3d546e; 
	width:1200px;
	height:42px;
}
.bottom-header {
	background-color:#f3f7f8;
	width:1200px;
	height:320px;
}
.navigation {
	background-color:#3d546f;
	width:940px;
	height:60px;
	margin: 0 auto;
	
}

.footer-top {
	background-color:#32425c; 
	width:1200px;
	height:300px;
}
.footer-bottom {
	background-color:#293449; 
	width:1200px;
	height:107px;
	
}